PORT=5001
MONGO_URI=mongodb://localhost:27017/farm2gov
JWT_SECRET=your_jwt_secret_here
HF_API_KEY=your_api_key
DEFAULT_ADMIN_EMAIL=admin.farm2gov@gmail.com
DEFAULT_ADMIN_PASSWORD=admin123
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
FROM_EMAIL=no-reply@farm2gov.in
FROM_NAME=Farm2Gov
